<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</head>
<body>
    <div class="app">
        <h1>Todo list</h1>
        <input type="text" name="field" id="input" v-model="newtodo" @keyup.enter="addTodo(newtodo)">
        <ol>
            <li v-for="todo in todolist">
                {{todo.content}}
                - <a href="" @click.prevent="deleteTodo(todo)">Delete</a>
            </li>
        </ol>
    </div>


<script src="ex3.js"></script>
</body>
</html>
